@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF2D9;
  color: #543C32;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Microsoft YaHei', sans-serif;
}

/* Custom Scrollbar for the result content */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 159, 67, 0.3);
  border-radius: 20px;
}
